#root{
  width: 900px;
  text-align: center;
  margin:0 auto;
}

.search-background{
  width: 100%;
  height: 100%;

}

.book-wrap{
  min-height: 500px;
}

.book-wrap{
  display: grid;
  grid-template-columns: 1fr;
  gap: 3rem;
}

.book{
  display: grid;
  grid-template-columns: 1fr 7fr;
}